<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgetPassword</title>
    <link rel="stylesheet" href="css/general/mdb.min.css">
    <script src="/js/mdb.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center " style="margin-top: 20%;">
            <div class="col col-lg-6  align-self-center">
                <h3 class="text-center">Forget passowrd?</h3>
                <div id="Eshow">
                    <input type="email" name="email" id="emailInput" class="form-control"
                        placeholder="Enter your email address">
                    <button class="btn btn-primary form-control" style="margin-top: 5px;" id="eid">Submit</button>
                </div>
                <div id="Qshow" style="display: none;">
                    <label for="fquest">Question</label>
                    <input type="hidden" name="uid" id="uid">
                    <input type="text" name="fquest" id="fquest" class="form-control" style="margin-top: 5px;">
                    <label for="fanswer">Answer</label>
                    <input type="text" name="fanswer" id="fanswer" class="form-control" style="margin-top: 5px;">
                    <button class="btn btn-primary form-control" style="margin-top: 5px;" id="qid">Submit</button>
                </div>
                <div id="newpass" style="display: none;">
                    <input type="hidden" name="uid" id="uid1">
                    <label for="fquest">Question</label>
                    <input type="text" name="newPass" id="newPass" class="form-control" style="margin-top: 5px;">
                    <label for="fanswer">Answer</label>
                    <input type="text" name="confirmPass" id="confirmPass" class="form-control"
                        style="margin-top: 5px;">
                    <button class="btn btn-primary form-control" style="margin-top: 5px;" id="nid">Submit</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    let x = $('#eid');
    x.on('click', (e) => {
        let d = document.getElementById("emailInput").value;
        ajaxHandle(d, "email");
    });

    let y = $('#qid');
    x.on('click', (e) => {
        let f = document.getElementById("uid").value;
        let d1 = document.getElementById("fanswer").value;
        ajaxHandle(f, "answer", d1);
    });

    let z = $('#nid');
    x.on('click', (e) => {
        let d4 = document.getElementById("uid1").value;
        let n = document.getElementById("newPass").value;
        let c = document.getElementById("confirmPass").value;
        if (n === c)
            ajaxHandle(d4, "password", n);
        else
            alert("new password and confirm password should be same");
    });

    function ajaxHandle(data1, data2, data3) {
        console.log("inside ajax handle");
        let settings = {
            "url": "/forgetPass?email=" + data1 + "&action=" + data2 + "&action1=" + data3,
            "method": "GET"
        };
        $.ajax(settings)
            .done(function (res) {
                console.log(res);
                if (res != null) {
                    $('#Eshow').hide();
                    $('#Qshow').show();
                    document.getElementById("#fquest").value = res["question"];
                    document.getElementById("#fquest").disabled = true;
                }
                else if (data2 === "answer") {
                    $('#Qshow').hide();
                    $('newpass').show();
                }
                else {
                    alert("New Password is saved successfully");
                    window.location.href = "/login";
                }
            })
            .fail(function (JHR, textstatus, error) {
                console.log(JHR);
                alert("incorrect data");
            })
    }
</script>

</html>