

.nav-item{
    margin-left:10px;
}

body{
   
font-family: adobe-garamond-pro,serif;
font-weight: 700;
font-style: normal;
}


.feed{
    font-family: 'Kalam', cursive;
}

.quest{
    font-family: source-serif-pro,serif;
font-weight: 400;
font-style: normal;
}

.tox.tox-tinymce {
    font-family: adobe-garamond-pro,serif;
    font-weight: 700;
    font-style: normal;
}


